@font-face {
    font-family: 'Plain';
    src: url('/fonts/Plain-Regular.woff2') format('woff2'), url('/fonts/Plain-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Plain';
    src: url('/fonts/Plain-Light.woff2') format('woff2'), url('/fonts/Plain-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Plain';
    src: url('/fonts/Plain-Bold.woff2') format('woff2'), url('/fonts/Plain-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

    $color-red: #ff0000;
    $color-green: #54d100;
    $color-white: #ffffff;
    $color-dark: #283147;
    $color-bg: #1E2536;
    $color-gray: #C5C5C5;
    $color-link: #404040;
    $color-p: #ffffff;
    $base-font-family: 'Plain', sans-serif;
    $font-weight-bold: bold;
    $font-weight-normal: normal;
    $font-weight-light: 300;
    $font-weight-thin: 100;
    $h1-font-size: 48px;
    $h2-font-size: 36px;
    $h3-font-size: 28px;
    $h4-font-size: 24px;
    $h5-font-size: 22px;
    $h6-font-size: 22px;
    $p-font-size: 14px;
    $base-font-size: 16px;
    $menu-font-size: 14px;
    $border-radius-large: 100%;
    $border-radius-small: 2px;

body {
    background: $color-bg;
    font-family: $base-font-family;
    max-width: 100%;
    overflow-x: hidden;
}


/*----------------------
     TYPOGRAPHY              
  --------------------------*/

h1,
h2,
h4,
h5,
h6 {
    font-weight: $font-weight-thin;
    line-height: normal;
    color: $color-bg;
}


h3{
    font-weight: $font-weight-thin;
    line-height: normal;
    color: $color-gray;
}

h1 {
    font-size: $h1-font-size;
    font-weight: $font-weight-bold;
    letter-spacing: -1px;
    text-transform: uppercase;
    margin: 20px 0;
}

h2 {
    font-size: $h2-font-size;
    font-weight: $font-weight-bold;
    letter-spacing: -2px;
    text-transform: uppercase;
}

h3 {
    font-size: $h3-font-size;
    font-weight: $font-weight-bold;
    letter-spacing: -1px;
    margin: 0;
}

h4 {
    font-size: $h4-font-size;
}

h5 {
    font-size: $h5-font-size;
}

h6 {
    color: $color-dark;
    font-size: $h6-font-size;
    line-height: inherit;
    margin: 0;
}

p {
    color: $color-p;
    font-size: $p-font-size;
    font-weight: $font-weight-light;
    line-height: 1.3em;
}

b,
strong {
    font-weight: $font-weight-bold;
    letter-spacing: 0;
}

.section {
    padding: 7rem 0;
}

.bg-color {
    background: $color-red;
    color: $color-white;
}



/*----------------------
     GENERAL               
  --------------------------*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    color: $color-link;
    font-weight: normal;
    text-decoration: none;
    transition: all 0.3s ease;
}

a:hover,
a:active,
a:focus {
    color: $color-red;
    outline: none;
    text-decoration: none;
}


/*----------------------
     MENU             
  --------------------------*/

.navbar {
    background: $color-dark;
    /*padding: 1rem;*/
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 5.5rem;
    /*padding-left: 2.5rem;*/
}

.navbar-brand {
    color: $color-white;
    font-size: $h3-font-size;
    font-weight: $font-weight-bold;
    line-height: normal;
    padding-top: 0;
}

.nav-item .nav-link {
    display: block;
    color: $color-white;
    font-size: $menu-font-size;
    font-weight: $font-weight-normal;
    text-transform: uppercase;
    padding: 20px 6px;
}

.nav-item-red .nav-link-red {
    background-color: #f13a11;
    display: block;
    color: $color-white;
    font-size: $menu-font-size;
    font-weight: $font-weight-normal;
    text-transform: uppercase;
    padding: 20px 6px;
    text-align: center;
    background-color: red;
    float: right;
}

.nav-item .nav-link.active,
.nav-item .nav-link:hover {
    color: $color-red;
}

.navbar .social-icon li a {
    color: $color-white;
}

.navbar-toggler {
    border: 0;
    padding: 0;
    cursor: pointer;
    margin: 0 10px 0 0;
    width: 30px;
    height: 35px;
    outline: none;
}

.navbar-toggler:focus {
    outline: none;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    background: transparent;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::before,
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::after {
    transition: top 300ms 50ms ease, -webkit-transform 300ms 350ms ease;
    transition: top 300ms 50ms ease, transform 300ms 350ms ease;
    transition: top 300ms 50ms ease, transform 300ms 350ms ease, -webkit-transform 300ms 350ms ease;
    top: 0;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::before {
    transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::after {
    transform: rotate(-45deg);
}

.navbar-toggler .navbar-toggler-icon {
    background: $color-red;
    transition: background 10ms 300ms ease;
    display: block;
    width: 30px;
    height: 2px;
    position: relative;
}

.navbar-toggler .navbar-toggler-icon::before,
.navbar-toggler .navbar-toggler-icon::after {
    transition: top 300ms 350ms ease, -webkit-transform 300ms 50ms ease;
    transition: top 300ms 350ms ease, transform 300ms 50ms ease;
    transition: top 300ms 350ms ease, transform 300ms 50ms ease, -webkit-transform 300ms 50ms ease;
    position: absolute;
    right: 0;
    left: 0;
    background: $color-red;
    width: 30px;
    height: 2px;
    content: '';
}

.navbar-toggler .navbar-toggler-icon::before {
    top: -8px;
}

.navbar-toggler .navbar-toggler-icon::after {
    top: 8px;
}

/*----------------------
     BUTTON               
  --------------------------*/
@mixin btn-properties{
    border-radius: 10px 10px 10px 10px;
    padding: 14px 24px;
    color: $color-white;
    font-size: $menu-font-size;
    font-weight: $font-weight-normal;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    white-space: nowrap;
    transition: all 0.3s ease;
}
.btn-newgame {
@include btn-properties;
    background-color: $color-green;
}

.btn-rolldice-active {
@include btn-properties;
    background: $color-red;
}

.btn-rolldice-disabled {
@include btn-properties;
    background: $color-gray;
}

.btn-newgame:hover {
    color: $color-bg;
}

.btn-rolldice:hover {
    color: $color-bg;
}


.bordered {
    border: 1px solid $color-red;
    color: $color-red;
}

/*----------------------
     Project               
  --------------------------*/
.project {
    background: $color-bg;
    padding: 10rem 0;
}

.project-thumb {
    padding: 1rem 0;
}

.project-info {
    background: white;
    box-shadow: 6px 0 38px rgba(20, 20, 20, 0.10);
    padding: 1rem 2rem;
    position: relative;
    height: 100%;
}

.project-info img {
    border-radius: 2px 2px 0 0;
    /* height: 300px; */
}

.project-info strong {
    color: $color-dark;
}

.project-info p {
    color: $color-dark;
    padding: 1rem 1rem;
}

/*----------------------
     Player
  --------------------------*/
  .player{
    border: solid 2px #f13a1141;;
    border-radius: 10px 10px 10px 10px;
}

  .current-player{
    background-color: #c4b7b558;
}

.dice{
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
}

.dice img{
    width: 125px;
    height: 125px;
}

.roll-title {
    float: left;
    padding: 10px;
}

.roll-result {
    float: left;
    /* width: 33%;
    height: 75%; */
    padding: 10px;
}

.roll-result img {
    width: 50px;
    height: 50px;
    border: solid 1px #00000041;;
    border-radius: 10px 10px 10px 10px;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}

.product-info {
    padding-left: 10px;
    margin-bottom: 10px;
    background-color: #b44040c4;
    border: solid 2px $color-bg;
    border-radius: 10px 10px 10px 10px;
    /* height: 30%;
    width: 100%; */
}

.product-info p {
    color: $color-white;
    padding: .5rem 0rem;
}

.product-info strong {
    color: $color-white;
    padding: 1rem 0rem;
}

/*----------------------
     FOOTER              
  --------------------------*/

.site-footer {
    position: fixed;
    bottom: 0;
    border-top: 1px solid #efebeb;
    padding: 1rem 0;
    background-color: #283147;
    width: 100%;
}

.site-footer a {
    color: $color-gray;
    font-weight: $font-weight-light;
}

.site-footer a:hover {
    color: #f13a11;
}

.site-footer p {
    font-size: $base-font-size;
    color: $color-gray;
}

.contact .fa,
.site-footer .fa {
    color: $color-red;
}


/*----------------------
     SOCIAL ICON              
  --------------------------*/

.social-icon {
    position: relative;
    padding: 0;
    margin: 5px 0 0 0;
}

.social-icon li {
    display: inline-block;
    list-style: none;
    color: $color-gray;
}

.social-icon li a {
    text-decoration: none;
    display: inline-block;
    color: $color-gray;
    font-size: 20px;
    font-weight: $font-weight-bold;
    margin: 5px 10px;
    text-align: center;
}

/*----------------------
     RESPONSIVE STYLES              
  --------------------------*/

@media screen and (max-width: 992px) {

    .section {
        padding: 5rem 0;
    }

    .nav-item .nav-link {
        padding: 6px;
    }

    .navbar .social-icon {
        margin-top: 22px;
    }

    .navbar-collapse,
    .site-footer {
        text-align: center;
    }

    .custom-btn {
        display: block;
    }
}

@media screen and (max-width: 767px) {

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 20px;
    }

    h6 {
        font-size: 14px;
    }
}